/* Fonts */
$din-font: "DIN NEXTTM ARABIC";

/* Border */
$radius-sm: 0.25rem;
$radius-md: 0.5rem;
$radius-lg: 0.625rem;
$radius-xl: 0.9375rem;

/* Colors */
$spw-dark-blue: #30405d;
$spw-blue: #0074ff;
$spw-red: #ff375d;
$spw-black: #121212;
$spw-light-gray-bg: #fafafb;

$dark-gray-1: #202224;
$dark-gray-2: #232323;
$dark-gray-3: #3f3f3f;
$dark-gray-4: #383f4a;

$light-gray-1: #dcdce1;
$light-gray-2: #b5bbc7;
