<footer id="footer">
  <div class="container footer">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-brand">
          <img src="../../../../assets/images/logo-arabic-2.png" />
        </div>
        <span class="social-icons">
          <a href="#"><img class="facebook" src="../../../../assets/icons/facebook.png" /></a>
          <a href="#"><img class="google-icon" src="../../../../assets/icons/logos-google-icon.png" /></a>
          <a href="#"><img class="twitter" src="../../../../assets/icons/twitter.png" /></a>
        </span>
      </div>
      <div class="col-md-2 col-6 data">
        <h6 class="footer-menu-title">الطالب</h6>
        <div class="footer-menu">
          <a href="#"> الدروس</a>
          <a href="#"> المجموعات</a>
          <a href="#"> كيف تدفع ؟</a>
        </div>
      </div>
      <div class="col-md-2 col-6 data">
        <h6 class="footer-menu-title">المدرس</h6>
        <div class="footer-menu">
          <a href="#">سجل معنا</a>
          <a href="#">كيف يتم التدريس؟</a>
        </div>
      </div>
      <div class="col-md-2 col-6 data">
        <h6 class="footer-menu-title">المزيد</h6>
        <div class="footer-menu">
          <a href="#">شروط الخدمة</a>
          <a href="#">سياسة خاصة</a>
        </div>
      </div>
      <div class="col-md-2 col-6 data">
        <h6 class="footer-menu-title">طرق الدفع</h6>
        <div class="footer-menu">
          <div class="img">
            <a href="#">
              <img src="../../../../assets/images/bitmap2.png" width="100%" height="100%" alt="fawry" /></a>
          </div>
          <div class="img mt-4">
            <a href="#">
              <img src="../../../../assets/images/group-7.png" width="100%" height="100%" alt="center pay" /></a>
          </div>
        </div>
      </div>
      <img class="shape" src="../../../../assets/shapes/combined-shape2.png" alt="dots shape" />
    </div>
  </div>
</footer>