@media (min-width: 1300px) {
  .container {
    max-width: 1230px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
  .how-work .how-card {
    width: 300px !important;
  }
  .how-learning .how-learning {
    width: 300px !important;
  }
  .your-subjects .your-subjects-card {
    width: 300px !important;
  }
  .which-subject-to-follow .which-subject-card {
    width: 300px !important;
  }
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 60px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 25px;
  }
  h6 {
    font-size: 20px;
  }
  .link {
    font-size: 20px !important;
  }
  span {
    font-size: 18px;
  }
  .start-teaching .start-teaching-row .content {
    font-size: 25px !important;
  }
}

@media (min-width: 1650px) {
  .container {
    max-width: 1400px;
  }
  p {
    font-size: 20px !important;
  }
}

@media (min-width: 1750px) {
  .container {
    max-width: 1500px;
  }
  .how-learning p {
    margin-top: 40px !important;
  }
  .how-work .how-card {
    width: 330px !important;
  }
  .how-learning .how-learning {
    width: 330px !important;
  }
  .your-subjects .your-subjects-card {
    width: 330px !important;
  }
  .which-subject-to-follow .which-subject-card {
    width: 330px !important;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.btn-primary {
  width: 262px;
  height: 48px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .btn-primary {
    width: 140px;
  }
}

.btn-primary.second {
  width: 141px;
  height: 41px;
}

@media (max-width: 768px) {
  .btn-primary.second {
    width: 120px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: #30405d;
}

h2 {
  font-size: 55px;
  color: #30405d;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  color: #30405d;
}

h4 {
  font-size: 30px;
  color: #30405d;
}

h5 {
  font-size: 18px;
  color: #30405d;
}

h6 {
  font-size: 16px;
  color: #30405d;
}

p {
  font-size: 14px;
  color: #30405d;
  overflow: hidden;
}

@media (max-width: 993px) {
  h1 {
    font-size: 60px !important;
  }
  h2 {
    font-size: 45px;
  }
  h4 {
    font-size: 25px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 55px !important;
    line-height: normal !important;
  }
  h2 {
    font-size: 35px;
  }
  h4 {
    font-size: 20px !important;
  }
  h5 {
    font-size: 14px !important;
  }
}

be-teacher2 {
  overflow: hidden;
  background: #eff4ff;
}

.be-teacher2 {
  margin-top: 108px;
  margin-bottom: 61px;
}

/* .be-teacher2 .content{margin: 20px 65px;} */

.be-teacher2 p {
  margin-top: 60px;
  margin-bottom: 65px;
  font-size: 20px;
}

.be-teacher2 h1 {
  width: 488px !important;
  height: 206px !important;
  font-size: 70px !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  text-align: right !important;
  color: #ff375d !important;
}

/* .be-teacher2 .img {width: 802px;height: 503px;} */

.be-teacher2 .content {
  margin: 20px 0 !important;
}

#start-teaching {
  overflow: hidden;
  background: #ffffff;
}

.start-teaching {
  margin-top: 98px;
  margin-bottom: 0;
  position: relative;
}

.start-teaching .shape {
  position: absolute;
  bottom: 70px;
  right: 50px;
}

.start-teaching p {
  font-size: 20px;
  width: 657px;
  margin: 0 auto;
  margin-bottom: 69px;
}

.start-teaching h2 {
  margin-bottom: 59px;
}

.start-teaching .img {
  width: 550px;
  height: 279px;
  margin: 0 auto;
}

.start-teaching .start-teaching-row {
  margin-bottom: 66px;
}

.start-teaching .start-teaching-row .icon {
  padding: 5px;
  height: 43px;
  margin-left: 20px;
  background-color: #80808026;
  border-radius: 8px;
}

.start-teaching .start-teaching-row .content {
  padding: 7px;
  font-size: 20px;
  font-weight: bold;
}

.start-teaching .start-teaching-col {
  justify-content: center;
  margin-bottom: 20px;
  display: flex;
}

@media (max-width: 768px) {
  .start-teaching p {
    width: auto;
  }
  .start-teaching .img {
    width: auto;
  }
  .start-teaching .start-teaching-row {
    width: auto;
  }
}

/* SRART STUDENTS EVERY WHERE */

#students-everywhere {
  overflow: hidden;
  background: #fafafb;
}

.students-everywhere {
  background: url(../../../assets/backgrounds/group-7.png) no-repeat center;
  background-size: contain;
  width: 100%;
  margin: 100px 0;
}

.students-everywhere h2 {
  padding-top: 100px;
  padding-bottom: 30px;
  width: 525px;
  margin: 0 auto;
}

.students-everywhere h5 {
  width: 525px;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: normal !important;
}

@media (max-width: 660px) {
  .students-everywhere h2 {
    width: 225px;
  }
  .students-everywhere h5 {
    width: 200px;
  }
}

.students-everywhere .btn {
  margin-top: 50px;
}

/* SRART HOW LEARNING */

#how-learning {
  overflow: hidden;
  background-image: linear-gradient(to bottom, #ffffff, #f8fbfe);
}

.how-learning {
  margin-top: 91px;
  margin-bottom: 71px;
}

.how-learning h2 {
  text-align: center;
  margin-bottom: 55px;
}

.how-learning h5 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
}

.how-learning h4 {
  text-align: center;
  margin-bottom: 13px;
  padding: 0 5px;
  height: 44px;
  overflow: hidden;
}

.how-learning .how-learning-row {
  justify-content: center;
  position: relative;
}

.how-learning .how-learning-row img {
  position: absolute;
  bottom: 52px;
  right: -80px;
}

.how-learning .how-learning:hover {
  background: #0074ff;
  color: white;
  cursor: pointer;
}

.how-learning .how-learning {
  /* height: 353px; */
  width: 262px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
  margin-bottom: 82px;
  overflow: hidden;
}

.how-learning .img {
  width: 72px;
  height: 86px;
  margin: 0 auto;
  margin-bottom: 16px;
  margin-top: 45px;
  /* margin-bottom: 76px; */
  background: no-repeat center;
}

.how-learning p {
  text-align: center;
  margin: 0 50px;
  margin-bottom: 29px;
}

.how-learning span {
  font-size: 80px;
  letter-spacing: normal;
  text-align: right;
  color: #30405d;
  opacity: 0.3;
  font-weight: bold;
  margin-right: 7px;
}

.how-learning:hover > h4,
.how-learning .how-learning:hover > p {
  color: #ffffff;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .how-learning .how-learning {
    width: 230px;
  }
}
