@media (min-width: 1300px) {
  .container {
    max-width: 1230px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
  .how-work .how-card {
    width: 300px !important;
  }
  .how-learning .how-learning {
    width: 300px !important;
  }
  .your-subjects .your-subjects-card {
    width: 300px !important;
  }
  .which-subject-to-follow .which-subject-card {
    width: 300px !important;
  }
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 60px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 25px;
  }
  h6 {
    font-size: 20px;
  }
  .link {
    font-size: 20px !important;
  }
  span {
    font-size: 18px;
  }
  .start-teaching .start-teaching-row .content {
    font-size: 25px !important;
  }
}

@media (min-width: 1650px) {
  .container {
    max-width: 1400px;
  }
  p {
    font-size: 20px !important;
  }
}

@media (min-width: 1750px) {
  .container {
    max-width: 1500px;
  }
  .how-learning p {
    margin-top: 40px !important;
  }
  .how-work .how-card {
    width: 330px !important;
  }
  .how-learning .how-learning {
    width: 330px !important;
  }
  .your-subjects .your-subjects-card {
    width: 330px !important;
  }
  .which-subject-to-follow .which-subject-card {
    width: 330px !important;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.btn-primary {
  width: 262px;
  height: 48px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .btn-primary {
    width: 140px;
  }
}

.btn-primary.second {
  width: 141px;
  height: 41px;
}

@media (max-width: 768px) {
  .btn-primary.second {
    width: 120px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: #30405d;
}

h2 {
  font-size: 55px;
  color: #30405d;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  color: #30405d;
}

h4 {
  font-size: 30px;
  color: #30405d;
}

h5 {
  font-size: 18px;
  color: #30405d;
}

h6 {
  font-size: 16px;
  color: #30405d;
}

p {
  font-size: 14px;
  color: #30405d;
  overflow: hidden;
}

@media (max-width: 993px) {
  h1 {
    font-size: 60px !important;
  }
  h2 {
    font-size: 45px;
  }
  h4 {
    font-size: 25px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 55px !important;
    line-height: normal !important;
  }
  h2 {
    font-size: 35px;
  }
  h4 {
    font-size: 20px !important;
  }
  h5 {
    font-size: 14px !important;
  }
}









