@media (min-width: 1300px) {
  .container {
    max-width: 1230px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1330px;
  }
  .how-work .how-card {
    width: 300px !important;
  }
  .how-learning .how-learning {
    width: 300px !important;
  }
  .your-subjects .your-subjects-card {
    width: 300px !important;
  }
  .which-subject-to-follow .which-subject-card {
    width: 300px !important;
  }
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 60px;
  }
  h4 {
    font-size: 35px;
  }
  h5 {
    font-size: 25px;
  }
  h6 {
    font-size: 20px;
  }
  .link {
    font-size: 20px !important;
  }
  span {
    font-size: 18px;
  }
  .start-teaching .start-teaching-row .content {
    font-size: 25px !important;
  }
}

@media (min-width: 1650px) {
  .container {
    max-width: 1400px;
  }
  p {
    font-size: 20px !important;
  }
}

@media (min-width: 1750px) {
  .container {
    max-width: 1500px;
  }
  .how-learning p {
    margin-top: 40px !important;
  }
  .how-work .how-card {
    width: 330px !important;
  }
  .how-learning .how-learning {
    width: 330px !important;
  }
  .your-subjects .your-subjects-card {
    width: 330px !important;
  }
  .which-subject-to-follow .which-subject-card {
    width: 330px !important;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.btn-primary {
  width: 262px;
  height: 48px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .btn-primary {
    width: 140px;
  }
}

.btn-primary.second {
  width: 141px;
  height: 41px;
}

@media (max-width: 768px) {
  .btn-primary.second {
    width: 120px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: #30405d;
}

h2 {
  font-size: 55px;
  color: #30405d;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  color: #30405d;
}

h4 {
  font-size: 30px;
  color: #30405d;
}

h5 {
  font-size: 18px;
  color: #30405d;
}

h6 {
  font-size: 16px;
  color: #30405d;
}

p {
  font-size: 14px;
  color: #30405d;
  overflow: hidden;
}

@media (max-width: 993px) {
  h1 {
    font-size: 60px !important;
  }
  h2 {
    font-size: 45px;
  }
  h4 {
    font-size: 25px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 55px !important;
    line-height: normal !important;
  }
  h2 {
    font-size: 35px;
  }
  h4 {
    font-size: 20px !important;
  }
  h5 {
    font-size: 14px !important;
  }
}

#form .form form {
  width: 572px;
  padding: 40px;
  border-radius: 17px;
  box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
  border: solid 1px #f1f1f1;
  background-color: #ffffff;
  margin: 60px auto;
}

@media (max-width: 768px) {
  #form .form form {
    width: 325px;
  }
}

#form .form input {
  border: none;
  border-bottom: 1px solid #97979754;
  border-radius: 0;
  margin: 10px 0;
  padding-right: 0;
}

#form .form button {
  width: 100%;
}

#form .form label {
  margin: 5px 0;
  font-family: DroidArabicKufi;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.44;
  letter-spacing: normal;
  text-align: right;
  color: #040a2c;
}

#form h1 {
  margin-top: 130px;
}

#form h5 {
  font-weight: normal;
  margin-top: 40px;
}

#form .icons {
  text-align: center;
}

#form .icons a {
  width: 48px;
  height: 48px;
  display: inline-block;
  margin: 50px 30px;
}

.feedback {
  color: #a60909;
  margin: 15px 0;
}

.success {
  color: #0cae0c;
}

.false {
  color: #a60909;
}


/* SRART STUDENTS EVERY WHERE */

#students-everywhere {
  overflow: hidden;
  background: #fafafb;
}

.students-everywhere {
  background: url(../../../assets/backgrounds/group-7.png) no-repeat center;
  background-size: contain;
  width: 100%;
  margin: 60px 0;
}

.students-everywhere h2 {
  padding-top: 100px;
  padding-bottom: 30px;
  width: 525px;
  margin: 0 auto;
}

.students-everywhere h5 {
  width: 525px;
  margin: 0 auto;
  margin-top: 50px;
  font-weight: normal !important;
}

@media (max-width: 660px) {
  .students-everywhere h2 {
    width: 225px;
  }
  .students-everywhere h5 {
    width: 200px;
  }
}

.students-everywhere .btn {
  margin-top: 50px;
}

/* SRART BE TEACHER */

#be-teacher {
  overflow: hidden;
  background: #eff4ff;
}
.be-teacher {
  margin-top: 51px;
  margin-bottom: 61px;
}

.be-teacher .content {
  margin: 50px 0;
  margin-right: 106px;
}

.be-teacher p {
  margin-top: 65px;
  margin-bottom: 60px;
  font-size: 14px !important;
  font-weight: normal !important;
}

.be-teacher h2 {
  margin-top: 0px;
  text-align: right !important;
  
}

@media (max-width: 768px) {
  .be-teacher .content {
    margin-right: 0 !important;
  }
}

.be-teacher .btn {
  width: 168px !important;
  height: 48px !important;
  border-radius: 24px !important;
  box-shadow: 0 20px 30px 0 rgba(60, 29, 137, 0.08);
  background-color: #0074ff;
}

.be-teacher .img {
  width: 284px;
  height: 290px;
  margin: 0 auto;
}